@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


html{
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

*{
    box-sizing: inherit;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
}

.header{
    height: 100vh;
    background-color: rgba(0, 63, 71, 0.95); /*Valor del final es para dar transparencia*/
    background-image: url('./assets/desarrollador.jpg');
    background-position: center bottom; 
    background-size: cover;
    background-blend-mode: multiply; /*Mezclar imagenes o colores. Multiply es dar capa de transparencia*/
    background-attachment: fixed ;
    position: relative;
}

.header .header_nav{
    width: 60%;
    padding: 30px;
    padding-left: 100px;
}

.header .header_title{
    color: white;
    font-family: 'Righteous';
    font-size: 2em;
}

.header_nav ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    vertical-align: middle;
    padding: 20px;
    list-style: none;
    width: 100%;
}

.header_nav ul li{
    display: inline-block;
    margin-right: 11%;
}

.header_nav ul li a{
    text-decoration: none;
    color: rgb(184, 184, 184);
    font-size: 0.8rem;
    position: relative;
}

.header_nav ul li a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    background-color: white;
    transition: all .5s ease;

}

.header_nav ul li a:hover::before{
    width: 100%;
}

.header_nav ul li a:hover{
    color: white;
}

/*Padding: Distancia entre contenido y borde de caja
Context-box: Tamaño de caja en total depende de lo que sume contenido, padding y border. Limita a altura y anchura indicada*/

.header .container_nav{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content_main{
    width: 100%;
    height: 400vh;
}

.content_main .section{
    width: 100%;
    height: 100vh;
    padding: 10px;
    position: relative;
}

.header .header_title{
    position: absolute;
    top: 37px;
    left: 80px;
    color: white;
    font-family: 'Righteous';
    font-size: 2em;
}

.content_main .section:nth-child(even){
    background-color: rgb(0, 25, 28);
}

.content_main .section:nth-child(even) h2{
    color: white;
}

.content_main .section h2{
    color: rgb(0, 25, 28);
    text-align: center;
    font-size: 2em;
    font-family: 'Righteous';
    margin-bottom:  40px;
}

.content_main .habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content_main .habilidades .container_habilidades{
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container_habilidades [class^="habilidad"]{
    min-height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    color: white;
    flex-direction: column;
    padding-left: 50px;
}

.container_habilidades [class^="habilidad"] .progreso{
    width: 80%;
    background-color: white;
    height: 20px;
    position: relative;
}

.container_habilidades [class^="habilidad"] .progreso .barra{
    position: absolute;
    background-color: rgba(0, 63, 71, 0.586);
    height: 100%;
    left: 0;
    width: 50%;
    position: relative;
    animation-duration: 3s;
    animation-timing-function: ease;
    /*animation-delay: 6s;*/
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running; 
}

.container_habilidades [class^="habilidad"]:first-of-type .progreso .barra{
    width: 90%;
    animation-name: moveXHTML;
    
}

.container_habilidades [class^="habilidad"]:first-of-type .progreso .barra::after{
    content: '90%';
    position: absolute;
    right: -6px;
    top: -9px;
    border-radius: 50%;
    background-color: rgb(0, 25, 28);
    width: 30px;
    height: 30px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    padding: 3px;
}

.container_habilidades [class^="habilidad"]:nth-of-type(2) .progreso .barra{
    width: 70%;
    animation-name: moveXCSS;
}

.container_habilidades [class^="habilidad"]:nth-of-type(2) .progreso .barra::after{
    content: '70%';
    position: absolute;
    right: -6px;
    top: -9px;
    border-radius: 50%;
    background-color: rgb(0, 25, 28);
    width: 30px;
    height: 30px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    padding: 3px;
}

.container_habilidades [class^="habilidad"]:nth-of-type(3) .progreso .barra{
    width: 80%;
    animation-name: moveXJS;
}

.container_habilidades [class^="habilidad"]:nth-of-type(3) .progreso .barra::after{
    content: '80%';
    position: absolute;
    right: -6px;
    top: -9px;
    border-radius: 50%;
    background-color: rgb(0, 25, 28);
    width: 30px;
    height: 30px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    padding: 3px;
}

.container_habilidades [class^="habilidad"]:nth-of-type(4) .progreso .barra{
    width: 75%;
    animation-name: moveXPHP;
}

.container_habilidades [class^="habilidad"]:nth-of-type(4) .progreso .barra::after{
    content: '75%';
    position: absolute;
    right: -6px;
    top: -9px;
    border-radius: 50%;
    background-color: rgb(0, 25, 28);
    width: 30px;
    height: 30px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    padding: 3px;
}

.container_habilidades [class^="habilidad"]:last-of-type .progreso .barra{
    width: 65%;
    animation-name: moveXMySQL;
}

.container_habilidades [class^="habilidad"]:last-of-type .progreso .barra::after{
    content: '65%';
    position: absolute;
    right: -6px;
    top: -9px;
    border-radius: 50%;
    background-color: rgb(0, 25, 28);
    width: 30px;
    height: 30px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    padding: 3px;
}

.link_up{
    width: 40px;
    height: 40px;
    background-color: rgba(0, 63, 71, 0.8);
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    font-size: 1.5em;
    padding-left: 5px;
    padding-left: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 10px;
    z-index: 1000;
}

.header .header_description{
    position: relative;
    top: 30%;
    width: 25%;
    height: 350px;
    background-color: rgba(0, 63, 71, 0.8);
    border-radius: 10px;
    float: right;
    margin-right: 220px;
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .header_description img{
    width: 350px;
    height: 230px;
    clip-path: circle();
    float: left;
    shape-outside: circle();
    margin-right: 50px;
    margin-left: 40px;
    margin-top: 40px;
}

.header .header_description span{
    color: white;
    margin-top: 20px;
}

.header_name{
    position: relative;
    top: 40%;
    width: auto;
    float: left;
    height: auto;
    margin-left: 80px;
}

.header_name h4{
    font-size: 3em;
    font-weight: 100;
    color: rgb(224, 224, 224);
}

.header_name h1{
    font-size: clamp(5vw, 6.5vw, 8vw);
    color: white;
}

.header_name h1::first-letter{
    background-color: rgba(0, 63, 71, 0.8);
    padding: 0 5px;
    border-radius: 10px;
}

.header_name .networks{
    width: auto;
    height: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap-reverse;
    width: 50%;
}

.header_name .networks a i{
    color: white;
    font-size: 1.6em;
    margin-right: 20px;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.06, 1.15, .83, .08);
    transition-delay: 0.2s;
}
  
.header_name .networks a:first-of-type i:hover{
    color: rgb(34, 34, 129);
    background-color: white;
    border-radius: 2px;
}

.header_name .networks a:nth-of-type(2) i:hover{
    color: orange;
}

.header_name .networks a:nth-of-type(3) i:hover{
    color: rgb(53, 53, 255);
    background-color: white;
    border-radius: 50%;
}

.header_name .networks a:last-of-type i:hover{
    color: black;
    background-color: white;
    border-radius: 50%;
}

.grid-projects{
    width: min(1200px, 94%);
    margin: 0 auto;
    max-width: 70%;
    min-height: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    align-items: stretch;
    grid-template-rows: repeat(auto, 1fr);
    gap: 20px;
}

.grid-projects .g-items{
    perspective: 2000px;
    border-radius: 20px;
}

.grid-projects .card{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s ease;
    border-radius: inherit;
}

.grid-projects .card:hover{
    transform: rotateY(180deg);
    transition: transform .5s ease;
}

.grid-projects .front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    border-radius: inherit;
}

.grid-projects .front .overlay{
    position: absolute;
    bottom: 0;
    height: 50%;
    background-color: rgba(0, 63, 71, 0.95);
    width: 100%;
    color: white;
    font-size: 2em;
    display: grid;
    place-items: center;
    border-radius: 30px 30px 0 0;
}

.grid-projects .front img{
    height: 80%;
    width: 100%;
    border-radius: inherit;
    display: block;
    object-fit: cover;        
    object-position: center;   
    border-radius: inherit;
}

.grid-projects .back{
    background-color: rgba(0, 63, 71, 0.95);
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 1em;
    padding: 30px;
}

.grid-projects .back h2{
    color: white;
}

.information{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

.information .information_image{
    width: 50%;
    border-radius: 15px;
}

.information .information_image img{
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: inherit;
}

.information p{
    width: 30%;
    font-size: 2vw ;
}

/*Contacto*/

.contact_main .contact{
    display: flex;
}

.contact_form{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contact_form [class^="form"]{
    width: 50%;
    height: auto;
    padding: 20px;
    display: flex; 
    flex-direction: column;
}

.contact_form [class^="form"] label{
    color: white;
}

.contact_form [class^="form"] input{
    padding: 15px;
    width: 100%;
    border-radius: 5px;
}

.contact_form [class^="form"]:last-of-type{
    height: 50%;
}

.contact_form [class^="form"] textarea{
    resize: none;
    width: 100%;
    height: 90%;
}

/*
Inline: Ocupa tan solo el tamaño necesario, no se puede cambiar anchura ni altura
Inline-block: Ocupa el tamaño necesario pero se puede modificar anchura y altura
Block: Ocupa todo el ancho de pantalla
Static: Elementos siguen el flujo normal dado
Absolute: Ignora el flujo normal (elemento va a ser libre y se posiciona de forma absoluta respecto al contenedor
Relative: Si queremos ubicar un elemento hijo dentro del padre, tenemos que colorcar en padre position: relative.
    Para alejar el contenedor usamos left, bottom, top, right.
    Todos elementos hijos del padre con relative se posiciona entorno a él.
    Right: 0 => No estará alejado del lado derecho. 

z-index: Nivel de profundidad de un elemento sobre otro elemento
*/

/*Media querys*/
/*
      Breakpoints
width <= 688 px => Móviles pequeños
width <= 922 px => Tablets pequeñas y moviles grandes
width <= 1312 px => Monitores pequeños
width >= 1312 px => Monitores grandes

------------------------------

width <= 480 px => Móviles pequeños
481 px <= width <= 768 px => Tablets pequeñas y moviles grandes
769 px <= width <= 1279 px => Monitores pequeños
width >= 1280 px => Monitores grandes

*/
@media (width <= 1344px){
    .header .header_description{
        display: none;
    }

    .header{
        background-image: url('./assets/men.png');
    }

    /*Media query para ajustar navbar*/

    .header .header_nav{
        width: 100%;
        margin-top: 20px;
        height: auto;
        box-sizing: border-box;
    }

    .header .header_nav ul {
        display: flex;
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;
        align-items: center; 
        justify-content: center;
        width: 100%;
        margin: 30px auto 0; 
    }

    .header_nav ul li {
        display: block;
        margin: 0;                  
        white-space: nowrap;        
    }

    .header_nav ul li a{
        font-size: 1.5em;
    }

    .header .header_title{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }


    .header .header_name h4{
        font-size: 5.5vw;
    }

    .header_name .networks a i{
        font-size: 3em;
    }

    .information{
        width: 100%;
        height: 80%;
        flex-direction: column;
        justify-content: center;
    }

    .information .information_image{
        width: 60%;
        margin-bottom: 80px;
    }

    .information p{
        font-size: 3.2vw;
        width: 90%;
    }

    .content_main .sobremi .information p{
        line-height: 30px;
        letter-spacing: 2px;
    }

    .grid-projects{
        min-height: 525px;
        min-width: 85%;
    }

    .grid-projects .card{
        height: 100%;
        width: 100%;
    }

    .grid-projects .back{
        font-size: 0.8em;
        padding: 30px;
    }

    .container_nav{
        background-color: rgba(0, 63, 71, 0.8);
        flex-direction: column;
        backdrop-filter: blur(10px);
        position: fixed;
        z-index: 2000;
    }

    .container_nav .header_nav{
        padding: 0;
        margin-top: 20px;
        width: 100%;
    }

    .container_nav .header_nav ul{
        flex-direction: row;
        font-size: 2vw;
        flex: wrap;
        gap: 30px;
        width: 100%;
    }

    .contact_main .contact{
        display: flex;
        gap: 20px;
        max-height: 90%;
    }

    .contact_form{
        width: 100%;
        height: auto;
        gap: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .contact_form [class^="form"]{
        width: 95%;
        height: auto;
        padding: 14px;
        display: flex; 
        flex-direction: column;

    }

    .contact_form [class^="form"] textarea {
        height: 220px; 
    }
}

@media (min-width: 481px) and (max-width: 900px){
  .grid-projects{
    grid-template-columns: repeat(2, 1fr);
    width: min(900px, 92%);
  }

      .contact_main .contact{
        display: flex;
        gap: 20px;
        max-height: 90%;
    }

    .contact_form{
        width: 100%;
        height: auto;
        gap: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .contact_form [class^="form"]{
        width: 95%;
        height: auto;
        padding: 14px;
        display: flex; 
        flex-direction: column;

    }

    .contact_form [class^="form"] textarea {
        height: 220px; 
    }
}


@media (min-width: 901px) and (max-width: 1199px){
  .grid-projects{
    grid-template-columns: repeat(2, 1fr); 
    width: min(1100px, 92%);
    gap: 20px;
    justify-items: center; 
  }

  .grid-projects .card{
    max-width: 540px;
    width: 100%;
    aspect-ratio: 4 / 3; 
  }

    .contact_main .contact{
        display: flex;
        gap: 20px;
        max-height: 90%;
    }

    .contact_form{
        width: 100%;
        height: auto;
        gap: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .contact_form [class^="form"]{
        width: 95%;
        height: auto;
        padding: 14px;
        display: flex; 
        flex-direction: column;

    }

    .contact_form [class^="form"] textarea {
        height: 220px; 
    }
}

@media (min-width: 1200px){
  .grid-projects{
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
}


@media screen and (width <= 480px){
    /*Media query para ajustar navbar*/

    .header .header_nav{
        width: 100%;
        margin-top: 20px;
        height: auto;
        box-sizing: border-box;
    }

    .header .header_nav ul {
        display: flex;
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;
        align-items: center; 
        justify-content: center;
        width: 100%;
        margin: 30px auto 0; 
    }

    .header_name .networks a i{
        font-size: 1.5em;
    }

    .header_nav ul li {
        display: block;
        margin: 0;                  
        white-space: nowrap;        
    }

    .header .header_title{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .header .header_nav ul li{
        font-size: 1.5em;
    }

    .header .header_name h4{
        font-size: 5vw;
    }

    .information{
        width: 100%;
        height: 80%;
        flex-direction: column;
        justify-content: center;
    }

    .information .information_image{
        width: 80%;
        margin-bottom: 80px;
    }

    .information p{
        font-size: 3.8vw;
        width: 90%;
    }

    .header .container_nav .header_nav ul li a{
        font-size: 20px;
    }

    .content_main .sobremi .information p{
        line-height: 28px;
        letter-spacing: 2px;
    }

    .habilidades{
        align-items: normal;
    }
    
    .container_habilidades{
        width: 100% !important;
    }

    .grid-projects{
        grid-template-columns: repeat(1, 1fr);
        gap: 14px;
        width: min(480px, 94%);
        min-height: 90%;
        min-width: 70%;
    }

    .grid-projects .card{
        height: 90%;
    }

    .grid-projects .back{
        font-size: 11px;
        padding: 20px;
    }

    .grid-projects .back h2{
        font-size: 15px;
    } 
    
    .contact_main .contact{
        flex-direction: column;
        align-items: stretch;
        gap: 12px;
        padding: 12px;
    }

    .contact_form{
        width: 100%;
        padding: 0 12px;
        height: auto;
        justify-content: space-around;
        gap: 10px;
    }

    .contact_form [class^="form"]{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        
    }

    .contact_form [class^="form"] input,
    .contact_form [class^="form"] textarea {
        width: 100%;
        font-size: 1rem;
    }

    .contact_form [class^="form"] textarea{
        height: 180px; 
    }
}

@media (prefers-color-scheme: dark){
    body{
        background-color: rgb(0, 25, 28);
    }

    .content_main .section h2{
        color: white
    }
}

/*Animaciones*/
@keyframes moveXHTML {
    0%{
        width: 0;
    }

    100%{
        width: 90%;
    }
}

@keyframes moveXCSS {
    0%{
        width: 0;
    }

    100%{
        width: 70%;
    }
}

@keyframes moveXJS {
    0%{
        width: 0;
    }

    100%{
        width: 80%;
    }
}

@keyframes moveXPHP {
    0%{
        width: 0;
    }

    100%{
        width: 75%;
    }
}

@keyframes moveXMySQL{
    0%{
        width: 0;
    }

    100%{
        width: 65%;
    }
}

/*Usar uglify CSS o la extensión de VS minify (y usar el archivo que genera) ayuda a reducir el archivo CSS
al eliminar espacios, carácteres y comentarios para mejorar el rendimiento de la página*/

/*Uso de metodologías: 
-BEM ayuda a estructurar el código de manera clara, usando una nomenclatura consistente que permite identificar fácilmente 
la relación entre bloques, elementos y modificadores, haciendo el código más fácil de entender y reutilizar. 

-OOCSS promueve la separación entre la estructura y la apariencia de los elementos, lo que permite crear componentes 
reutilizables y flexibles, independientemente del contexto. 

Estas metodologías no solo mejoran la legibilidad del código, sino que también aseguran que, tras minimizar los archivos,
el código siga siendo fácil de gestionar y expandir*/